<div class="sidebar">
  <div class="sidebar-header sidebar-header-row">
    <img src="/assets/icon/logocmcsidbar.png" alt="CMC Learn Logo" class="sidebar-logo" />
    <span class="sidebar-title sidebar-title-gradient">CMC Learn</span>
  </div>
  <ul class="sidebar-menu">
    <li class="active"><i class="icon dashboard"></i>Dashboard</li>
    <li><i class="icon calendar"></i>Calender</li>
    <li><i class="icon courses"></i>Courses</li>
    <li><i class="icon assignments"></i>Assignments</li>
    <li><i class="icon messages"></i>Messages</li>
    <li><i class="icon help"></i>Help</li>
    <li><i class="icon setting"></i>Setting</li>
  </ul>
  <div class="sidebar-logout">
    <i class="icon logout"></i>Log out
  </div>
</div>
