<div class="sidebar">
  <div class="sidebar-header sidebar-header-row">
    <img src="/assets/icon/logocmcsidbar.png" alt="CMC Learn Logo" class="sidebar-logo" />
    <span class="sidebar-title sidebar-title-gradient">CMC Learn</span>
  </div>
  <ul class="sidebar-menu">
    <li class="active"><i class="icon dashboard"></i><span class="menu-text">Dashboard</span></li>
    <li><i class="icon calendar"></i><span class="menu-text">Calender</span></li>
    <li><i class="icon courses"></i><span class="menu-text">Courses</span></li>
    <li><i class="icon assignments"></i><span class="menu-text">Assignments</span></li>
    <li><i class="icon messages"></i><span class="menu-text">Messages</span></li>
    <li><i class="icon help"></i><span class="menu-text">Help</span></li>
    <li><i class="icon setting"></i><span class="menu-text">Setting</span></li>
  </ul>
  <div class="sidebar-logout">
    <i class="icon logout"></i><span class="menu-text">Log out</span>
  </div>
</div>
