@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: #FFFAFA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow-y: auto;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

aside.hide {
    transform: translateX(-100%);
}

aside .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 0 32px 32px 32px;
    margin-bottom: 10px;
    margin-top: 30px;
}

aside .logo-container img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

aside .logo-container span {
    display: inline;
    margin-left: 12px;
    background: linear-gradient(90deg, #1C9AD6 0%, #8CC9E8 47%, #2457C5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    user-select: none;
}

nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 32px;
    font-weight: 600;
    font-size: 16px;
    color: #4979D1;
    transition: background-color 0.2s ease, color 0.2s;
    margin-bottom: 2px;
    user-select: none;
    height: 40px;
    border-radius: 8px;
    text-decoration: none !important;
}

nav a:hover {
    background-color: #93DCFF;
    color: #2457C5;
    height: 40px;
    text-decoration: none !important;
}

nav a i {
    font-size: 20px;
    min-width: 20px;
    text-align: center;
}

.logout {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 32px;
    font-weight: 600;
    font-size: 16px;
    color: #8a8a8a;
    cursor: pointer;
    text-decoration: none;
    margin-top: auto;
    user-select: none;
    text-decoration: none !important;
}

@media (max-width: 767px) {
    aside {
        display: none;
    }
}
